.App {
  /*text-align: center;*/
  background-color: #343434;
}

.App-logo {
  height: 36px;
  pointer-events: none;
}

.App-header {
  background-color: #FFAF3F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  background-color: #FFAF3F;
  min-height: 36px;
  display: flex;
  flex-direction: row;
  align-items: left;
  padding-left: 48px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.App-link {
  color: #61dafb;
}

.Content {
  padding-left: 48px;
  padding-right: 48px;
  color: #fff;
}

.Data-window{
  max-height: 70vh;
  overflow: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  padding: 16px;
}